.total-section-container {
  display: flex;
  background-color: #ffffff;
  height: 68px;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 16px;
  border: 1px solid #e9ecef;
}

.preco-total {
  display: flex;
  align-items: center;
  color: #e34981;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.span-total-value {
  display: flex;
  align-items: center;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.total-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.descricao {
  margin-top: 0;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #343a40;
  width: 250px;
}

@media only screen and (min-width: 750px) {


  .total-section-container {
    display: flex;
    background-color: #ffffff;
    width: 363px;
    height: 96px;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    border: 1px solid #e9ecef;
  }

  .span-total-value {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 90px;
  }

  .total-section {
    display: flex;
  }

  .descricao {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #343a40;
    width: 266px;
    margin-right: 43px;
  }
}
